aside {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 255px;
  padding: 32px;
  background: #020617;
  min-height: 100vh;
}
.aside_head {
  padding: 17px 0;
  border-bottom: 1px solid #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: #e2e8f0;
  font-size: 18px;
  font-weight: 600;
}
.aside_head img {
  padding: 8px;
  border-radius: 8px;
  background: #0d9488;
}
.nav_ul {
  align-items: center;
  color: rgba(226, 232, 240, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  gap: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav_btn {
  margin: 14px;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  align-items: left;
  display: flex;
  gap: 12px;
  color: rgba(226, 232, 240, 0.8);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.nav_btn:hover {
  background: #0d9488;
  opacity: 0.9;
}
.nav_active {
  background: #0d9488;
  color: #fff;
}
.aside_profile {
  margin-top: auto;
  display: flex;
  padding: 12px 12px 0 12px;
  gap: 12px;
  border-top: 1px solid #1e293b;
}
.aside_profile img {
  padding: 12px;
  border-radius: 50%;
  background: #0d9488;
}
.aside_name {
  color: #e2e8f0;
  font-size: 14px;
  font-weight: 500;
}
.aside_mail {
  color: #e2e8f0;
  font-size: 14px;
  font-weight: 500;
}
.aside_profile button {
}
