/* Tables page */
.table-page {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.table-title {
  display: flex;
  justify-content: space-between;
}
.table-title button {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 6px;
  background: #0d9488;
}

.tables_stats {
  display: flex;
  justify-content: space-around;
}

.table-stat_card {
  display: flex;
  width: 377.656px;
  height: 110px;
  padding: 25px 25px 1px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 12px;
  border: 1px solid rgba(148, 163, 184, 0.12);
  background: #1e293b;
}

.table-stat_title {
  color: #94a3b8;
  font-size: 14px;
  font-weight: 400;
}

.table-stat_value {
  color: #f8fafc;
  font-size: 30px;
  font-weight: 600;
}

.table_list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.table_card {
  display: flex;
  flex-direction: column;
  width: 229px;
  gap: 16px;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid rgba(148, 163, 184, 0.12);
  background: #1e293b;
}

.table-card_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-number {
  color: #0d9488;
  font-size: 20px;
  font-weight: 700;

  padding: 10px 20px;
  border-radius: 12px;
  background: rgba(13, 148, 136, 0.1);
}

.table_seats {
  color: #929497;
  font-size: 16px;
  font-weight: 600;
}

.table_isActive {
  display: flex;
  justify-content: space-between;
  color: #94a3b8;
  font-size: 14px;
  font-weight: 400;
}
.switch {
  position: relative;
  display: inline-block;
  /* Твои размеры */
  width: 32px;
  height: 18.4px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a2533;
  transition: 0.3s;
  border-radius: 18.4px;
  /* Тонкая рамка для маленького размера */
  border: 1.5px solid #16a085;
}

.slider:before {
  position: absolute;
  content: '';
  /* Рассчитываем размер круга: высота минус рамки и небольшие отступы */
  height: 12px;
  width: 12px;
  top: 2px;
  left: 2px;
  bottom: 1.7px;
  background-color: #16a085;
  transition: 0.3s;
  border-radius: 50%;
}

/* Состояние ON */
input:checked + .slider {
  background-color: #16a085;
}

input:checked + .slider:before {
  /* Сдвиг круга вправо: ширина(32) - круг(12) - отступы */
  transform: translateX(13px);
  background-color: #1a2533;
}
.view_qr {
  color: #f8fafc;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid rgba(148, 163, 184, 0.12);
  background: #0f172a;
  padding: 6px;
}
