* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0f172a;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
main {
  display: flex;
}
.main_container {
  padding: 24px 32px;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
