* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0f172a;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
main {
  display: flex;
}
.main_container {
  padding: 24px 32px;
  flex: 1;
}
.client-page {
  padding: 24px, 0;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
h1 {
  color: #f8fafc;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}
.subtitle {
  color: #94a3b8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
ul {
  list-style: none;
  text-decoration: none;
}
